<header class="bg-primary mat-typography">
  <h1 class="white-text text-center mat-display-1">Item Detail Page</h1>
</header>
<div class="container mat-typography">
  <mat-card class="detail-card">
    <mat-card-content>
      <div class="padding">
        <img width="50%" class="center-block" src="https://dsw.scene7.com/is/image/DSWShoes/402359_100_ss_01?$pdp-image$">
        <h2>Sneakers</h2>
        <h3>Price: $3</h3>
        <h3>Description: The greatest shoes you've ever seen</h3>
        <button mat-raised-button>ADD TO CART</button>
      </div>
    </mat-card-content>
  </mat-card>
</div>
